[submodule "externals/daltonmenezes/aura-theme"]
	path = externals/daltonmenezes/aura-theme
	url = https://github.com/daltonmenezes/aura-theme
[submodule "externals/jdx/mise"]
	path = externals/jdx/mise
	url = https://github.com/jdx/mise/
